@import '../setup/variables';
@import '../setup/mixins';


.toy-preview {
  @include card;
  @include transition(transform 0.3s, box-shadow 0.3s);
  
  &:hover {
    transform: translateY(-5px);
    box-shadow: $box-shadow-lg;
  }
  

  .toy-img-container {
    height: 200px;
    overflow: hidden;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include transition(transform 0.5s);
      
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  
  .toy-info {
    padding: $spacing-sm;
    
    h3 {
      margin-top: 0;
      margin-bottom: $spacing-xs;
      font-size: 1.2rem;
    }
    
    .price {
      font-weight: bold;
      font-size: 1.2rem;
      color: $color-secondary;
      margin-bottom: $spacing-xs;
    }
    
    .stock-status {
      margin-bottom: $spacing-xs;
      
      .in-stock {
        color: $color-success;
        font-weight: bold;
      }
      
      .out-of-stock {
        color: $color-danger;
        font-weight: bold;
      }
    }
    

    .labels {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      margin-bottom: $spacing-xs;
      
      .label {
        background-color: $color-yellow;
        padding: 3px 8px;
        border-radius: 12px;
        font-size: 0.8rem;
      }
    }
  }
}